/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme_dark {
  --main-text: #f1b2ce;
  --accent-text: #db00ff;
  --accent-color: #ff0070;
  --bg-color: #000028;
}

.page.theme_dark {
  --main-text: #f1b2ce;
  --accent-text: #db00ff;
  --accent-color: #ff0070;
  --bg-color: #000028;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);

  .header__theme-menu-button {
    --accent-color: inherit;
  }

  .header__theme-menu-button:hover {
    border-color: rgba(255, 0, 112, 0.4);
  }

  .header__description,
  .section-article__title,
  .section-subtitle {
    --text-color: var(--bg-color);
  }

  .section-title {
    --text-color: var(--accent-color);
  }

  .section-title.title-decor {
    --text-color: var(--bg-color);
  }

  .decorated-zone__dot {
    display: block;
  }

  .decorated-zone::after,
  .decorated-zone::before {
    --accent-color: inherit;
  }
}
